*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0 auto;
}

$color-primario:#ed8f59;
$color-azul1:#09667D;
$color-azul2:#198f9e;
$color-azul3:#169eb325;
$color-celeste:#169db3;
$color-negro:#000000;
$color-blanco:#ffff;
$color-gris1:#808080;
$color-gris2:#e6d6cd9c;
$color-verde:#008000;