/* = Mbolie 1= */
@media (min-width: 320px) {

.sucursales {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 10px;

    &__img {
        height: 24px;
    }
}

.iframe {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 20px;
    gap: 40px;

    &__titulo {
        font-size: 1.2em;
        text-align: center;
        color: $color-azul1;
        margin-bottom: 40px;
        text-decoration: underline;
    }

    &__ubicacion {
        font-size: 1em;
        text-decoration: underline;
    }
}

.mapa {
    width: 290px;
    height: 260px;
}
}




/* = Mbolie 2= */
@media (min-width: 400px) {

.mapa {
    width: 350px;
    height: 370px;
}
}




/* = Tablet = */
@media (min-width: 768px) {

.iframe {
    justify-content: center;
    align-items: center;
}

.mapa{
    width: 490px;
}
}




/* = Desktop = */
@media (min-width: 1328px) {

.sucursales {
    padding-top: 20px;
    padding-bottom: 50px;

        &__img {
            height: 45px;
        }
    }

.iframe {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
    margin-right: 40px;
    background-color: $color-azul3;

    &__titulo {
        font-size: 1.7em;
    }

    &__ubicacion {
        font-size: 1.2em;
    }
}

.mapa {
    width: 600px;
    height: 450px;
}
}