/* = Mobile = */
@media(min-width:400px) {

footer {
    height: 80px;
    background-color: $color-primario;
    display: flex;
}

.redes__logo {
    display: none;

    &--mb {
        display: inline-flex;
        gap: 10px;
        height: 40px;
    }
}

.img__footer {
    display: none;

    &--mb {
        height: 40px;
        padding: 5px;
    }
}

i {
    color: $color-negro;
    font-size: 1.2em;

    &:hover {
        color: $color-azul1;
    }
}

.copyright {
    padding-top: 15px;
    font-size: 0.6em;
}

.footer {
    display: flex;

    &__info {
        font-size: 0.7em;
        text-align: center;
        color: $color-azul1;
    }

    &__ul {
        font-size: 0.59em;
        list-style: none;
        color: $color-negro;

        a {
            color: $color-negro;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
}

/* = Tablet = */
@media (min-width: 768px) {

    .footer{
        gap: 55px;
        margin-left: 120px;
    }
    }

/* = Desktop = */
@media (min-width: 1328px) {

footer {
    height: 120px;
}

.redes__logo {
    display: inline-block;
    margin-left: 250px;
    padding-top: 60px;
    font-size: 1.9em;

    &--mb {
        display: none;
    }
}

.img__footer {
    display: inline-block;
    height: 70px;
    padding: 5px;
}

.copyright{
    padding-top: 30px;
}

.footer{
    gap: 150px;
    margin-left: 320px;

    &__info {
        font-size: 1.2em;
    }

    &__ul {
        font-size: 0.8em;
    }
}

}