/* = Mobile = */
@media (min-width: 400px) {

nav {
    background-color: $color-primario;
    height: 75px;
}

.contenedor__nav--mb {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.logo__principal {
    display: none;

    &--mb {
        height: 35px;
        padding-left: 5px;
    }
}

.input__buscador {
    display: none;
}

.input__buscar--mb {
    height: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.input__btn--mb {
    height: 20px;
    font-size: 0.7em;
    border-radius: 10px;
    color: $color-blanco;
    background-color: $color-celeste;
}

.carrito__img {
    position: absolute;
    display: none;

    &--mb {
        margin-left: 35px;
        height: 25px;
        display: flex;
    }
}

lord-icon  {
    height: 30px;
    color: $color-azul1;
}

hr {
    margin: 0.4em;
}

.sesion__link--mb {
    display: none;
}

.secciones {
    display: flex;
    margin-left: 5px;
    justify-content: space-around;

    &__ul {
        display: flex;
        margin: 0;
        padding: 0;
        gap: 10px;
        list-style: none;
    }

    &__li {
        background-color: $color-negro;
        height: 17px;
        width: auto;
        font-size: 0.7em;
        border-radius: 5px;

        a {
            text-decoration: none;
            color: $color-primario;
            padding: 0;
        }
    }
}
}

/* = Tablet = */
@media (min-width: 768px) {

.input__buscar--mb {
    width: 350px;
    margin-left: 40px;
}

.carrito__img--mb {
    margin-left: 200px;
    height: 30px;
}

.secciones__ul {
    justify-content: center;
    gap: 50px;
}
}


/* = Desktop = */
@media (min-width: 1328px) {

nav {
    background-color: $color-primario;
    display: flex;
    flex-direction: column ;
    height: 160px;
}

.logo {
    height: 50px;

    &__principal--mb {
        display: none;
    }

    &__principal {
        display: flex;
        text-align: center;
        justify-content: space-between;
        padding-right: 5px;
    }

    &__boostbid {
        margin-left: 450px;
    }
}

.sesion__link {
    background-color: $color-negro;
    color: $color-primario;
    font-size: 1em;
    border-radius: 0.3em;
    text-decoration: none;

    &:hover {
        background-color: $color-blanco;
    }
}

.input__buscar--mb, .input__btn--mb{
    display: none;
}

.input__buscador {
    display: flex;
    margin-right: 43%;
    padding-top: 10px;
}

.input__btn {
    color: $color-blanco;
    background-color: $color-celeste;
    padding: 0;
}

.icono__mb {
    display: none;
}

hr{
    display: none;
    }

.secciones {
    padding: 30px 0 0 70px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;

    &__ul {
        color: $color-primario;
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 20px;
        margin: 0;
    }

    &__li {
        background-color: $color-negro;
        height: 28px;

        a {
            color: $color-primario;
            padding-inline: 50px;
            text-decoration: none;
            font-size: 1.1em;
        }

        &:hover {
            background-color: $color-blanco;
        }
    }
}

.carrito {
    margin-left: 20px;

    &__mb {
        display: none;
    }

    &__img--mb {
        display: none;
    }

    &__img {
        display: flex;
        height: 50px;
        padding-bottom: 20px;
        padding-left: 35px;
    }
}
}